.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  border: 2px solid #0f380f;
  box-sizing: border-box;
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  background-color: #306230;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #0f380f;
  text-shadow: 1px 1px #0f380f;
  transition: all 0.1s ease;
}

.cell:active:not(.correct) {
  box-shadow: 1px 1px 0 #0f380f;
  transform: translateY(5px) translateX(5px);
}

.cell:active:not(.current):not(.correct) {
  animation: vibrate 0.2s linear infinite;
  background-color: #0f380f;
  color: #306230;
}

@keyframes vibrate {
  0% { transform: translateY(5px) translateX(5px) rotate(3deg); }
  25% { transform: translateY(5px) translateX(5px) rotate(-3deg); }
  50% { transform: translateY(5px) translateX(5px) rotate(3deg); }
  75% { transform: translateY(5px) translateX(5px) rotate(-3deg); }
  100% { transform: translateY(5px) translateX(5px) rotate(3deg); }
}

.correct {
  background-color: #9bbc0f;
}
