body {
  margin: 0;
  font-family: 'Press Start 2P', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #8bac0f;
  color: #0f380f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Game Boy colours */
.lightest {
  background-color: #9bbc0f;
}

.light {
  background-color: #8bac0f;
}

.dark {
  background-color: #306230;
}

.darkest {
  background-color: #0f380f;
}
